<!DOCTYPE html>
<html class="no-js" lang="">

<head>
	{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- title -->
    <title> UP-SCT Remote PC Tracker </title>
    <!-- end title -->

    <meta name="description" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Data Table JS -->
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <!-- main CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- nokia pure text -->
    <link href="//db.onlinewebfonts.com/c/b0040e9e6a6db92b5c252acee3891874?family=Nokia+Pure+Text" rel="stylesheet" type="text/css"/>

<!-- Start style -->
<style type="text/css">
</style>
<!-- end style -->
</head>
<!-- end head -->

<!-- start body -->
<body>
    <!-----------------------------------------------------
    ---------------------- SCRIPTS ------------------------
    ------------------------------------------------------>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/data-table/jquery.dataTables.min.js' %}"></script>
    <!-- <script src="{% static 'js/data-table/datatables.min.js' %}"></script> -->
    <script src="{% static 'js/data-table/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'js/data-table/data-table-act.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function(){
            $('#successModal').modal({show:true});
        });
    </script>
    <!-------- ADD - MODAL OTHERS OPTION ----->
    <script type="text/javascript">
        function showfieldBTS(name){
          if(name=='Others')document.getElementById('div-bts').innerHTML='<input type="text" class="form-control" name="b_t_s"  required="true"/>';
          else document.getElementById('div-bts').innerHTML='';
        }
    </script>
    <script type="text/javascript">
        function showfieldUE(name){
          if(name=='Others')document.getElementById('div-ue').innerHTML='<input type="text" class="form-control" name="u_e"  required="true"/>';
          else document.getElementById('div-ue').innerHTML='';
        }
    </script>
    <!---------- UPDATE MODAL OTHTERS OPTION ------>
    <script type="text/javascript">
        function showfieldBTSS(name){
          if(name=='Others')document.getElementById('div-btss').innerHTML='<input type="text" class="form-control" name="editBTS"  required="true"/>';
          else document.getElementById('div-btss').innerHTML='';
        }
    </script>
    <script type="text/javascript">
        function showfieldUEE(name){
          if(name=='Others')document.getElementById('div-uee').innerHTML='<input type="text" class="form-control" name="editUE"  required="true"/>';
          else document.getElementById('div-uee').innerHTML='';
        }
    </script>
    <!------------ DELETE MODAL DATA ----------->
    <script>
        $(document).on("click", ".open-DeleteDialog", function () {
            var ipd = $(this).data('id');
            $(".modal-body #deleteID").val( ipd );
            $(".modal-body #deleteIDp").val( ipd );
            $('#deleteIndividual').modal('show');
    });
    </script>
    <!--------- UPDATE MODAL DATA ---------->
    <script>
        $(document).on("click", ".open-EditkDialog", function () { 
            var ipe = $(this).data('todo').id;
            var dne = $(this).data('todo').name;
            var une = $(this).data('todo').uname;
            var pwe = $(this).data('todo').pword;
            var dme = $(this).data('todo').dmn;
            var bte = $(this).data('todo').bites;
            var uee = $(this).data('todo').yue;
            $(".modal-body #editID").val( ipe );
            $(".modal-body #editDN").val( dne );
            $(".modal-body #editUN").val( une );
            $(".modal-body #editPW").val( pwe );
            $(".modal-body #editDM").val( dme );
            $(".modal-body #editBTS").val( bte );
            $(".modal-body #editUE").val( uee );
            $('#editIndividual').modal('show');
            var _optionsBTS = '<option selected="selected" value="'+ bte +'">'+ bte +'</option>';
            var _optionsUE = '<option elected="selected" value="'+ uee +'">'+ uee +'</option>';
            $('#editBTS').append(_optionsBTS);
            $('#editUE').append(_optionsUE);
    });
    </script>
    <!-----------------------------------------------------
    ---------------------- SCRIPTS ------------------------
    ------------------------------------------------------>

	<div class="header-top-area">
        <div class="header">
            <div class="logo-title" style="margin-top: 3px;">
              	<a href="/">
               		<div class="logo">
               			<img id="nokia-logo" src="{% static 'img/logo/logo.png' %}" alt="nokia-logo"/>
               		</div>
               	</a>
            <div class="pipe">
                <!-- horizontal line -->
            </div>
            <span class="itemH"> UP-SCT </span>
           	</div>
        </div>
    </div>

    <div class="main">
        <div class="col-sm-6">
            <div class="add-button">
                <h2 style="display:inline; font-family: 'Nokia Pure Text'">List of Remote PCs</h2>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </div>
            <br>
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-hover w-auto" style="border: 1px solid black; width: 99%">
                    <thead>
                        <tr>
                            <th> Display Name </th>
                            <th> Server Name </th>
                            <th style="display: none"> Username </th>
                            <th style="display: none"> Password </th>
                            <th style="display: none"> Domain </th>
                            <th style="display: none"> BTS </th>
                            <th style="display: none"> UE </th>
                            <th style="width: 5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rpc in getPCS %}
                            <tr>
                                <td class="element">{{ rpc.displayName }}</td>
                                <td class="element">{{ rpc.serverName }}</td>
                                <td class="element" style="display: none">{{ rpc.username }}</td>
                                <td class="element" style="display: none">{{ rpc.password }}</td>
                                <td class="element" style="display: none">{{ rpc.domain }}</td>
                                <td class="element" style="display: none">{{ rpc.bts }}</td>
                                <td class="element" style="display: none">{{ rpc.ue }}</td>
                                <td class="element" style="width: 10%">
                                <a data-toggle="modal" data-id="{{ rpc.serverName }}" data-toggle="modal" class="open-DeleteDialog btn btn-primary" href="#deleteIndividual" 
                                onmouseover="this.style.color='#15418f';" 
                                onmouseout="this.style.color='black';" 
                                style="color: black; background: transparent; border: 0px solid #eaf0f2; display:inline;  padding: 3px">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a id="todolink" href="#editIndividual" class="open-EditkDialog btn btn-primary" data-toggle="modal" data-todo='{"id":"{{ rpc.serverName }}","name":"{{ rpc.displayName }}","uname":"{{ rpc.username }}","pword":"{{ rpc.password }}","dmn":"{{ rpc.domain }}","bites":"{{ rpc.bts }}","yue":"{{ rpc.ue }}"}' 
                                onmouseover="this.style.color='#15418f';" 
                                onmouseout="this.style.color='black';" 
                                style="color: black; background: transparent; border: 0px solid #eaf0f2; display:inline;  padding: 3px"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6">
            <table id="basic-info">
                <thead>
                    <tr>
                        <h3 id="infoHeader" style="font-weight: bold; font-family: 'Nokia Pure Text'"></h3>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="labelDisplayName" style="padding-right: 11px"></td>
                        <td id="infoDisplayName"></td>
                    </tr>
                    <tr>
                        <td id="labelServerName" style="padding-right: 11px"></td>
                        <td id="infoServerName"></td>
                    </tr>
                    <tr>
                        <td id="labelUsername" style="padding-right: 11px"></td>
                        <td id="infoUsername"></td>
                    </tr>
                    <tr>
                        <td id="labelPasssword" style="padding-right: 11px"></td>
                        <td id="infoPassword"></td>
                    </tr>
                    <tr>
                        <td id="labelDomain" style="padding-right: 11px"></td>
                        <td id="infoDomain"></td>
                    </tr>
                    <tr>
                        <td id="labelBTS" style="padding-right: 11px"></td>
                        <td id="infoBTS"></td>
                    </tr>
                    <tr>
                        <td id="labelUE" style="padding-right: 11px"></td>
                        <td id="infoUE"></td>
                    </tr>
                </tbody>
            </table>

<!------------------------------------------------------------------->
<!------------------------ MODAL - MESSAGES  -------------------------->
<!------------------------------------------------------------------->
        {% if messages %}
            {% for message in messages %}
                <div class="modal fade" id="successModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            {% if message.tags == "success" %}
                            <div class="modal-body">
                                <h3>{{ message }}</h3>
                            </div>
                            <div class="modal-footer">
                                <div class="success-modal-buttons">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            {% endif %} 
                            {% if message.tags == "error" %}
                            <div class="modal-header">
                                <h3>{{ message }}</h3>
                            </div>
                            <div class="modal-body">
                                Server Name (IP) already exists.
                            </div>
                            <div class="modal-footer">
                                <div class="success-modal-buttons">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            {% endif %} 
                         </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

<!------------------------------------------------------------------->
<!------------------------ ADD - MODAL  ----------------------------->
<!------------------------------------------------------------------->
<div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add New Remote PC</h3>
            </div>
            <div class="modal-body">
                <form method="POST" class="form-horizontal">
                    {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="display_name" style="">Display Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="display_name" placeholder="Enter Display Name" name="display_name" required="true">
                            </div>
                        </div>
                        <div class="form-group" id="server-form">
                            <label class="control-label col-sm-3" for="server_name" style="">Server Name</label>
                            <div class="col-sm-8">
                                <input type="text" pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" class="form-control" id="server_name" placeholder="Enter Server Name (IP: xxx.xxx.xxx.xxx)" name="server_name" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="ussername" style="">Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="ussername" placeholder="Enter Username" name="ussername" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="pass_word" style="">Password</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="pass_word" placeholder="Enter Password" name="pass_word" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="do_main" style="">Domain</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="do_main" placeholder="Enter Domain" name="do_main" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="b_t_s" style="">BTS</label>
                            <div class="col-sm-4">
                                <!-- <input type="text" class="form-control" id="b_t_s" placeholder="BTS" name="b_t_s"> -->
                                <select class="form-control" required="required" id="b_t_s" name="b_t_s" onchange="showfieldBTS(this.options[this.selectedIndex].value)">
                                    <option value="" disabled selected>Select BTS</option>
                                    <option value="FSMR2">FSMR2</option>
                                    <option value="FSMR3">FSMR3</option>
                                    <option value="FSMR4">FSMR4</option>
                                    <option>Others</option>
                                </select>

                            </div>
                            <div class="col-sm-4">
                                <div id="div-bts"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="u_e" style="">UE</label>
                            <div class="col-sm-4">
                                <select class="form-control" required="required" id="u_e" name="u_e" onchange="showfieldUE(this.options[this.selectedIndex].value)">
                                    <option value="" disabled selected>Select UE</option>
                                    <option value="Test Terminal">Test Terminal</option>
                                    <option value="TM500">TM500</option>
                                    <option>Others</option>
                                </select>

                            </div>
                            <div class="col-sm-4">
                                <div id="div-ue"></div>
                            </div>
                        </div>
                        <div class="form-group row">           
                            <input type="text" style="display: none" value="add" name="operation">
                        </div>
            </div>
            <div class="modal-footer">
                <div class="add-modal-buttons">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------->
<!------------------------ DELETE - MODAL  -------------------------->
<!------------------------------------------------------------------->
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Delete Remote PCs</h3>
            </div>
            <div class="modal-body">
                <form method="POST" class="form-horizontal">
                    {% csrf_token %}
                        <div class="form-group">                            
                            <div class="checkbox">
                                {% for rpc in getPCS %}
                                <label class="col-sm-12" for="server_name" style="margin-bottom: 11px">
                                    {{ rpc.displayName }} ({{ rpc.serverName }})
                                    <div style="float: right;">
                                        <input type="checkbox" id="server_name" name="server_name" value="{{ rpc.serverName }}">
                                    </div>
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">           
                            <input type="text" style="display: none" value="delete" name="operation">
                        </div>
            </div>
            <div class="modal-footer">
                <div class="add-modal-buttons">
                    <button type="submit" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------->
<!------------------------ DELETE - INDIVIDUAL  --------------------->
<!------------------------------------------------------------------->
<div class="modal fade" id="deleteIndividual" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Delete Remote PC</h3>
            </div>
            <div class="modal-body">
                <form method="POST" class="form-horizontal">
                    {% csrf_token %}
                    Are you sure you want to delete this server?
                        <div class="form-group row">
                            <input type="text" style="display: none" name="deleteID" id="deleteID" value=""/>
                            <div class="col-sm-8">
                                <input type="text" style="display: block; border: none; font-weight: bold" name="deleteID" id="deleteID" readonly="readonly" value=""/>
                            </div>
                        </div>
                        <div class="form-group row">           
                            <input type="text" style="display: none" value="del_indiv" name="operation">
                        </div>
            </div>
            <div class="modal-footer">
                <div class="add-modal-buttons">
                    <button type="submit" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------->
<!------------------------ EDIT - MODAL  ---------------------------->
<!------------------------------------------------------------------->
<div class="modal fade" id="editIndividual" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Update Remote PC</h3>
            </div>
            <div class="modal-body">
                <form method="POST" class="form-horizontal">
                    {% csrf_token %}
                        <div class="form-group row">
                                <div class="col-sm-8">
                                    <input type="text" style="display: block; border: none; font-weight: bold; font-size: 18px" name="editID" id="editID" readonly="readonly" value=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="editDN" style="">Display Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editDN" placeholder="Enter Display Name" name="editDN">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="editUN" style="">Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editUN" placeholder="Enter Username" name="editUN">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="editPW" style="">Password</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editPW" placeholder="Enter Password" name="editPW">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="editDM" style="">Domain</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editDM" placeholder="Enter  Domain" name="editDM">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="editBTS" style="">BTS</label>
                            <div class="col-sm-4">
                                <select class="form-control" required="required" id="editBTS" name="editBTS" onchange="showfieldBTSS(this.options[this.selectedIndex].value)" >
                                    <option value="FSMR2">FSMR2</option>
                                    <option value="FSMR3">FSMR3</option>
                                    <option value="FSMR4">FSMR4</option>
                                    <option>Others</option>
                                </select>

                            </div>
                            <div class="col-sm-4">
                                <div id="div-btss"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="editUE" style="">UE</label>
                            <div class="col-sm-4">
                                <select class="form-control" required="required" id="editUE" name="editUE" onchange="showfieldUEE(this.options[this.selectedIndex].value)" >
                                    <option value="Test Terminal">Test Terminal</option>
                                    <option value="TM500">TM500</option>
                                    <option>Others</option>
                                </select>

                            </div>
                            <div class="col-sm-4">
                                <div id="div-uee"></div>
                            </div>
                        </div>
                        <div class="form-group row">           
                            <input type="text" style="display: none" value="update" name="operation">
                        </div>
            </div>
            <div class="modal-footer">
                <div class="add-modal-buttons">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

</body>
<!-- end body -->
</html>
<!-- end html -->